body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9fafb;
  color: #111827;
}

h1, h2 {
  color: #1e3a8a;
}

nav {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.project {
  margin-top: 1rem;
}
